<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MQ Install Logs</title>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>
<body>
  <h2>MQ Installation Log Viewer</h2>
  <table id="csv-table" class="display" style="width:100%">
    <thead></thead>
    <tbody></tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script>
    fetch('/data')
      .then(res => res.json())
      .then(data => {
        if (!data.length) return;
        const columns = Object.keys(data[0]).map(key => ({ title: key, data: key }));

        $('#csv-table').DataTable({
          data: data,
          columns: columns,
          pageLength: 10
        });
      });
  </script>
</body>
</html>
